:root {
  --primary-backgroung-color: #f8fcfb;
  --accent-color: #c9fdd7;
  --main-color-turquoise: #79d1c3;
  --fourth-color-blue: #6892d5;

  --text-dark: #182927;
  --button-box-shadow: 2px 5px 2px #79d1c3, 0px 5px 1px #c9fdd7;
  --font-accent: "Tiro Devanagari Sanskrit", serif;
  --text-font: "Work Sans", sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
}

h1 {
  font-size: 46px;
  font-weight: bolder;
  color: var(--main-color-turquoise);
  font-family: var(--font-accent);
}

h2 {
  font-weight: bold;
  color: var(--fourth-color-blue);
  font-family: var(--font-accent);
}

h3 {
  font-size: 23px;
  color: var(--text-dark);
  line-height: 1.5;
}

h4 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

h5 {
  color: var(--main-color-turquoise);
  text-shadow: var(--text-shadow);
}

h6 {
  text-align: left;
  font-weight: normal;
  font-family: var(--text-font);
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  font-family: var(--text-font);
  color: var(--text-dark);
}

i {
  color: var(--main-color-turquoise);
}

.box-container {
  background: var(--primary-backgroung-color);
}

.box-container p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-dark);
}

.box-container h2 {
  color: var(--main-color-turquoise);
}

.wrap {
  padding: 70px 60px;
}

.btn-branding {
  color: white;
  background-color: var(--main-color-turquoise);
  border-radius: 50px;
  padding: 10px 20px;
  border: 1px solid var(--accent-color);
  box-shadow: var(--button-box-shadow);
  font-weight: bold;
  transition: all 1s ease-out;
}

.btn-branding:hover {
  border: 1px solid var(--accent-color);
  background-color: var(--main-color-turquoise);
  opacity: 0.8;
  color: white;
  transition: all 1s ease-out;
}

.decoration-photo {
  border-radius: 25px;
}

/* services */
.wrap-text {
  padding: 70px 60px;
  margin: 2px auto;
  max-width: 900px;
}

.wrap-text h2 {
  color: var(--fourth-color-blue);
}

.wrap-text p {
  color: var(--text-dark);
}

.pointer,
.pointer-3 {
  display: flex;
  justify-content: center;
  color: var(--fourth-color-blue);
}

.pointer i {
  color: var(--fourth-color-blue);
}

/* blog */
.wrap-link-card {
  padding: 1px 0;
}

.wrap-link-card a {
  color: var(--text-dark);
}

.wrap-link-card a:hover {
  opacity: 0.8;
}

.primary-link {
  text-decoration: none;
}

.color-container {
  padding: 40px 80px;
}

.pointer-2 {
  display: flex;
  justify-content: center;
  color: var(--main-color-turquoise);
}

.pointer-2 i,
h2 {
  color: var(--main-color-turquoise);
}

.line {
  display: block;
  margin: 0 auto;
  width: 1000px;
  color: var(--main-color-turquoise);
}

/* tests */
.cover-text-named {
  padding: 0 2px;
  margin: 10px auto;
  max-width: 900px;
}

.cover-text-named i {
  color: var(--main-color-turquoise);
}

.cover-text-box {
  border-radius: 4px;
}

.cover-text-box h6 {
  border-radius: 30px;
  margin: auto 30px;
  color: var(--text-dark);
}

.color-blue {
  color: var(--fourth-color-blue);
}

.tests-box {
  padding: 40px 20px;
  border: 1px solid var(--fourth-color-blue);
  font-weight: 500;
  line-height: 1.5;
  font-family: var(--text-font);
  text-align: center;
}

/* faq */
.accordion-button:not(.collapsed) {
  color: white;
  background: var(--main-color-turquoise);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.wrap-content {
  background-color: var(--primary-backgroung-color);
  padding: 40px 80px;
  margin: 0 auto;
}

.wrap-content button {
  font-size: 18px;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-dark);
}

.question {
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-dark);
}

/* services */
.btn-2 {
  color: white;
  background-color: var(--main-color-turquoise);
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: var(--button-box-shadow);
  border: 1px solid var(--main-color-turquoise);
  margin: 50px 0;
}

.btn-2:hover {
  border: 1px solid var(--accent-color);
  background-color: var(--main-color-turquoise);
  opacity: 0.9;
  color: white;
  transition: all 1s ease-in;
}

.btn-3 {
  border-radius: 50px;
  padding: 10px 20px;
  border: 1px solid var(--main-color-turquoise);
  margin: 50px 0;
}

.btn-3:hover {
  border-radius: 50px;
  padding: 10px 20px;
  border: 1px solid var(--accent-color);
  background-color: var(--main-color-turquoise);
  color: white;
}

.center {
  display: block;
  margin: 0 auto;
}

/* contact */
.contact-form {
  display: block;
  max-width: 60%;
  margin: 0 auto;
}

/* nav */

.nav-link {
  color: var(--text-dark);
  font-size: 18px;
}

.nav-link:hover {
  background-color: var(--main-color-turquoise);
  color: white;
  border-radius: 30px;
  transition: 1s all;
}

.navbar-toggler {
  color: var(--main-color-turquoise) !important;
  border: 3px solid var(--main-color-turquoise) !important;
  border-radius: 40px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='turquoise' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.dropdown-menu {
  border: 1px solid var(--accent-color) !important;
  border-radius: 20px;
}

.dropdown-menu:hover {
  border-radius: 20px;
}

.dropdown-item {
  color: var(--text-dark);
}

.dropdown-item:hover {
  color: white;
  background-color: var(--main-color-turquoise);
  border-radius: 20px;
  border: 1px solid var(--main-color-turquoise);
}

.lang-nav {
  list-style: none;
}

.lang-nav a {
  padding: 7px;
}

/* blog */
.portfolio-description {
  font-weight: 400;
  line-height: 21px;
}

.portfolio-description a {
  color: var(--text-dark);
  font-weight: bolder;
}

.wp-link-post {
  text-decoration: none;
  color: var(--text-dark);
}

.wp-link-post:hover {
  color: var(--fourth-color-blue);
  opacity: 0.9;
  transition: 200ms ease-in;
}

/* page 1 */

.article-start-1 {
  margin: 90px;
  padding-top: 30px;
}

.article-start-1 p,
small {
  color: var(--text-dark);
}

.article-start-1 img {
  border: var(--accent-color);
}

.article-body-1 {
max-width: 800px;
}

/* body */
.article-body-1 h5 {
  text-align: center;
  color: var(--fourth-color-blue);
}




/* tests */
.field-title h3 {
  font-size: 19px;
  padding: 18px;
}

.field-title h3:hover {
  background-color: var(--main-color-turquoise);
  border-radius: 20px;
}

.field-title a {
  color: var(--text-dark);
}

.field-title a:hover {
  color: white;
  transition: 200ms ease-in;
}

/* contact */
.dark {
  color: var(--text-dark);
}

.dark-link {
  color: var(--text-dark);
}

.dark-link:hover {
  opacity: 0.9;
  color: var(--main-color-turquoise);
}

/* footer */

.f-style {
  display: flex;
  flex-direction: column;
}

.f-style a {
  color: var(--text-dark);
  text-decoration: none;
}

.f-style a:hover {
  color: var(--main-color-turquoise);
}

.social a {
  padding: 10px;
  font-size: 28px;
  transition: all 100ms ease-in-out;
}

.social a:hover {
  border-radius: 50px;
  background-color: white;
}

.turq-col {
  color: var(--main-color-turquoise);
}

.turq-col:hover {
  opacity: 0.8;
  color: var(--main-color-turquoise);
}

@media (max-width: 576px) {
  /* main */
  h1 {
    font-size: 30px;
  }

  .wrap-hero {
    text-align: center;
  }

  .wrap-hero a {
    margin: 20px 0;
  }

  .wrap a {
    margin-bottom: 30px;
  }

  .top-m {
    margin: 50px 0;
  }

  /* services */
  .services-res img {
    margin-bottom: 15px;
  }

  .services-res a {
    margin-bottom: 35px;
  }
}

@media (max-width: 960px) {
  /* main */
  h1 {
    font-size: 40px;
  }

  .wrap-hero {
    text-align: center;
  }

  .wrap-hero a {
    margin: 30px 0;
  }

  .wrap a {
    margin-bottom: 30px;
  }

  .wrap h2 {
    margin-top: 30px;
  }

  .cover-text-box h6 {
    text-align: center;
  }

  /* about */
  .about h2 {
    margin-top: 40px;
  }

  .content-about {
    margin-bottom: 60px;
  }

  .about-text p {
    text-align: center;
    margin: 30px;
  }

  .about-doc h2 {
    margin: 60px;
  }
}

@media (max-width: 1100px) {
  /* about */
  .about h2 {
    margin-top: 40px;
  }

  .about-text p {
    text-align: center;
    margin: 30px;
  }

  .about-doc h2 {
    margin: 60px;
  }

  .content-about {
    margin: 0;
  }

  /* servises */
}
