:root {
  --primary-backgroung-color: #fbf6f0;
  --secondary-background-color: #e2d1c3;
  --third-background-color: #f7f79b;
  --info-color-turquoise: #41bebc;
  --heading-color-blue: #07588a;
  --extra-blue-light: #236f9f;
  --text-brown-dark: #1d1716;
  --text-shadow: 1px 1px #1d1716, 1px 1px 5px #236f9f;
  --button-box-shadow: 2px 5px 2px #f7f79b, 0px 5px 1px #07588a;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 46px;
  font-weight: 600;
  color: var(--heading-color-blue);
  text-shadow: var(--text-shadow);
}

h2 {
  font-weight: bold;
}

h6 {
  text-align: left;
}
p {
  font-size: 16px;
  line-height: 1.5;
}

i {
  color: var(--info-color-turquoise);
}

.hero {
  background: var(--primary-backgroung-color);
}

.hero p {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-brown-dark);
}

.wrap-hero {
  padding: 70px 60px;
}

.btn-branding {
  color: white;
  background-color: var(--extra-blue-light);
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: var(--button-box-shadow);
  transition: all 1s ease-out;
}

.btn-branding:hover {
  border: 1px solid var(--heading-color-blue);
  background: var(--heading-color-blue);
  color: white;
  transition: all 1s ease-out;
}

.decoration-photo {
  border-radius: 25px;
}

.wrap-link-card {
  display: block;
  padding: 0 80px 0;
  margin: 0 90px 0;
}

.pointer {
  display: flex;
  justify-content: center;
  margin: 30px 65px 0;
}

.wrap-text {
  padding: 20px;
  margin: 30px auto;
  max-width: 800px;
}

.primary-link {
  text-decoration: none;
  color: var(--extra-blue-light);
}

.primary-link:hover {
  color: var(--heading-color-blue);
}

.color-container {
  background: var(--primary-backgroung-color);
  padding: ;
}
.colorful-section {
  color: var(--info-color-turquoise);
}

.cover-text-named {
  padding: 0 2px;
  margin: 10px auto;
  max-width: 800px;
}

.tests-box {
  padding: 40px 20px;
  border: 1px solid var(--primary-backgroung-color);
}

.cover-text-box {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  border-radius: 4px;
  margin: 20px;
}

.cover-text-box h6 {
  margin: 10px;
}
